---
permalink: /sitemap.xml
eleventyExcludeFromCollections: true
---
<?xml version="1.0" encoding="utf-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">
{%- for page in collections.all %}
  {%- if not page.data.draft and not page.data.eleventyExcludeFromCollections and page.url %}
  <url>
    <loc>https://kaidez.com{{ page.url | url }}</loc>
    {%- if page.data.lastmod %}
    <lastmod>{{ page.data.lastmod | htmlDateString }}</lastmod>
    {%- elif page.date %}
    <lastmod>{{ page.date | htmlDateString }}</lastmod>
    {%- endif %}
  </url>
  {%- endif %}
{%- endfor %}
</urlset>