<footer class="footer">

  <div class="footer__wrapper">

    <div class="footer__column footer-col-1">
      <h2 class="footer__heading">Categories</h2>
      <ul class="footer__category-nav">
        <li class="footer--list-item">
          <a href="/tutorials/" class="footer--page-link">Tutorials</a>
        </li>
        <li class="footer--list-item">
          <a href="/coding-best-practices/" class="footer--page-link">Coding Tips</a>
        </li>
        <li class="footer--list-item">
          <a href="/personal/" class="footer--page-link">Personal</a>
        </li>
        <li class="footer--list-item">
          <a href="/reviews/" class="footer--page-link">Reviews</a>
        </li>
      </ul>
    </div>

    <div class="footer__column footer-col-2">
      <ul class="social-media-list">
        {% if site.github_username %}
        <li>
          {% include icon-github.html username=site.github_username %}
        </li>
        {% endif %}

        {% if site.twitter_username %}
        <li>
          {% include icon-twitter.html username=site.twitter_username %}
        </li>
        {% endif %}
      </ul>
    </div>

    <div class="footer__column footer-col-3">
      Kai "kaidez" Gittens is a front-end web developer for JPMorgan Chase. He has contributed to web experiences for Revlon, jetBlue, Everyday Health and the United Nations. He is also a former JavaScript instructor for lynda.com and is a loyal supporter of Chelsea F.C.
    </div>

    <div class="footer__colophon">
      <span class="footer__colophon--item">&copy;2008-17</span>
      <span class="footer__colophon--item">
        <a href="/sitemap/" class="footer--page-link">Sitemap</a>
      </span>
      <span class="footer__colophon--item">
        <a href="/affiliate-disclaimer/" class="footer--page-link">Affiliate Disclaimer</a>
      </span>
    </div>
</div>

</footer>

<script type="text/javascript" src="/js/prism.js"></script>
<script type="text/javascript" src="/js/bundle.js"></script>