<header class="header" role="banner">
  <div class="header__wrapper">
    {% include logo.html %}
    <nav class="header__nav">
      <h2 class="header--hidden-text">Main Navigation</h2>
      <div class="trigger">
        <a class="header__nav--page-link" href="/blog">blog</a>
        <a class="header__nav--page-link" href="/articles">articles</a>
        <a class="header__nav--page-link" href="/lynda-kaidez">kaidez on lynda.com</a>
        <a class="header__nav--page-link" href="/ajax-tutorial">ajax tutorial</a>
      </div>
    </nav>
  </div>
</header>
