<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="google-site-verification" content="+Tj7sEh2RH2PLG8XnLRer4x3YQq9PBT-IqZLqtbI8Eq8="/>
  <title>{% if page.title %}{{ page.title | escape }}{% else %}{{ site.title | escape }}{% endif %}</title>
  <link href="https://fonts.googleapis.com/css?family=Khula|Josefin+Sans" rel="stylesheet">
  <link rel="stylesheet" href="{{ "/assets/main.css" | relative_url }}">
  <link rel="stylesheet" href="{{ "/css/prism.css" | relative_url }}">
  <link rel="alternate" type="application/rss+xml" title="{{ site.title | escape }}" href="{{ "/feed.xml" | relative_url }}">
  <link rel="canonical" href="http://kaidez.com{{page.permalink}}"/>
  {% seo %}
  <meta property="article:publisher" content="http://facebook.com/kaidezblog"/>
  <meta property="article:section" content="Personal"/>
  <meta property="og:image" content="/img/{{page.og-image}}"/>
  <meta property="og:image:width" content="700"/>
  <meta property="og:image:height" content="300"/>
  <meta name="twitter:card" content="summary"/>
  <meta name="twitter:site" content="@kaidez"/>
  <meta name="twitter:creator" content="@kaidez"/>
  <meta name="twitter:title" content="{{ page.title }} » kaidez"/>
  <meta name="twitter:image" content="/img/{{page.og-image}}"/>
  <meta name="twitter:description" content="{{ page.excerpt }}"/>
</head>
