<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% if title %}{{ title }} - {% endif %}{{ site.title }}</title>
  <meta name="description" content="{% if description %}{{ description }}{% else %}{{ site.description }}{% endif %}">

  <!-- Open Graph -->
  <meta property="og:title" content="{% if title %}{{ title }}{% else %}{{ site.title }}{% endif %}">
  <meta property="og:description"
    content="{% if description %}{{ description }}{% else %}{{ site.description }}{% endif %}">
  <meta property="og:type" content="website">
  <meta property="og:url" content="{{ site.url }}{{ page.url }}">

  <!-- Fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap"
    rel="stylesheet">

  <!-- Styles -->
  <link rel="stylesheet" href="/assets/css/style.css">

  <!-- Favicon -->
  <link rel="icon" type="image/x-icon" href="/assets/images/favicon.ico">

  <meta property="article:publisher" content="http://facebook.com/kaidezblog" />
  <meta property="article:section" content="Personal" />
  <meta property="og:image" content="http://www.kaidez.com/img/{{page.og-image}}" />
  <meta property="og:image:width" content="700" />
  <meta property="og:image:height" content="300" />
  <meta name="twitter:card" content="summary" />
  <meta name="twitter:site" content="@kaidez" />
  <meta name="twitter:creator" content="@kaidez" />
  <meta name="twitter:title" content="{{ page.title }} » kaidez" />
  <meta name="twitter:image" content="http://www.kaidez.com/img/{{page.og-image}}" />
  <meta name="twitter:description" content="{{ page.excerpt }}" />
</head>

<body class="{% if bodyClass %}{{ bodyClass }}{% endif %}" data-pagefind-body>
  {% include "partials/header.njk" %}
  <div class="post-tag-and-category-container">
      <time datetime="{{ date | htmlDateString }}">{{ date | readableDate }}</time>
      <span class="post-date-separator">|</span>
      <a href="/{{ tags }}" class="post-tag-or-category post-category">{{ category }}</a>  

    <div class="post-tag-container">
      tags:

      {# {%- for tag in tags -%}
        <a href="/tags/{{ tag }}/" class="post-tag-or-category">{{ tag }}</a>
        {%- if not loop.last %}, {% endif %}
      {%- endfor -%} #}
    
    {%- if secondary_tags and secondary_tags.length > 0 -%}
    {%- for secondary_tags in secondary_tags -%}
      <a  href="/tags/{{ secondary_tags }}/" class="post-tag-or-category">{{ secondary_tags }}</a>
    {%- endfor -%}
    {%- endif -%}
    </div>
  </div>

  <main class="post-content">
    <h3 class="post-title">{{ title }}</i></h3>
    {# <time datetime="{{ date | htmlDateString }}">
      {{ date | readableDate }}
    </time> #}
    <img src="/assets/img/{{ image }}" alt="image for '{{ title }}' post" />
    {{ content | safe }}
    {# {% if image %} #}
  </main>

  {% include "partials/footer.njk" %}
  
</body>

</html>
