<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title data-pagefind-ignore>{% if title %}{{ title }} - {% endif %}{{ site.title }}</title>
  <meta name="description" content="{% if excerpt %}{{ excerpt }}{% else %}{{ site.description }}{% endif %}">

  <!-- Open Graph -->
  <meta property="og:title" content="{% if title %}{{ title }}{% else %}{{ site.title }}{% endif %}">
  <meta property="og:description" content="{% if excerpt %}{{ excerpt }}{% else %}{{ site.description }}{% endif %}">
  <meta property="og:type" content="website">
  <meta property="og:url" content="{{ site.url }}{{ page.url }}">

  <!-- Fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">

  <!-- Styles -->
  <link rel="stylesheet" href="/assets/fontawesome/css/all.min.css">
  <link rel="stylesheet" href="/assets/css/style.css">
  <link href="/assets/css/prism.css" rel="stylesheet" />

  <!-- Load Pagefind -->
  <link href="/pagefind/pagefind-ui.css" rel="stylesheet">
  <script src="/pagefind/pagefind-ui.js"></script>


  <!-- JS -->
  <script src="/assets/js/prism.js"></script>

  <!-- Favicon -->
  <link rel="icon" type="image/x-icon" href="/assets/images/favicon.ico">

  <meta property="article:publisher" content="http://facebook.com/kaidezblog" />
  <meta property="article:section" content="Personal" />
  <meta property="og:image" content="http://www.kaidez.com/assets/img/{{ image }}" />
  <meta property="og:image:width" content="700" />
  <meta property="og:image:height" content="300" />
  <meta name="twitter:card" content="summary" />
  <meta name="twitter:site" content="@kaidez" />
  <meta name="twitter:creator" content="@kaidez" />
  <meta name="twitter:title" content="{{ title }} » kaidez" />
  <meta name="twitter:image" content="http://www.kaidez.com/assets/img/{{ image }}" />
  <meta name="twitter:description" content="{% if excerpt %}{{ excerpt }}{% else %}{{ site.description }}{% endif %}" />
  {% include "partials/JSON-LD.njk" %}
  {% include "partials/googleAnalytics.njk" %}
</head>

<body data-category='{{ category | dump | safe }}'>
  <a name="main-content"></a>
  {% include "partials/header.njk" %}
  <div class="post-tag-and-category-container">
      <time datetime="{{ date | htmlDateString }}">{{ date | readableDate }}</time>
      <span class="post-date-separator">|</span>
      <a href="/{{ tags }}" class="post-tag-or-category post-category">{{ category }}</a>  

    <div class="post-tag-container">
      tags:
    
    {%- if secondary_tags and secondary_tags.length > 0 -%}
    {%- for secondary_tags in secondary_tags -%}
      <a  href="/tags/{{ secondary_tags }}/" class="post-tag-or-category">{{ secondary_tags }}</a>
    {%- endfor -%}
    {%- endif -%}
    </div>
  </div>

  <main class="post-content">
    <h1 class="post-title">{{ title }}</h1>
    <img src="/assets/img/{{ image }}" alt="image for '{{ title }}' post" class="header-image " />
    {{ content | safe }}
    {% if related %}
      <aside class="related-posts">
        <h2 class="related-posts-header">related posts</h2>
           <ul role="list">
          {% for relatedPost in related %}
            <li>
              <a href="{{ relatedPost.url }}">{{ relatedPost.data.title }}</a>
            </li>
          {% endfor %}
          </ul>
      </aside>
    {% endif %}
  </main>

  <script src="/assets/js/relatedPosts.js"></script>
  <script>
    window.pageData = {
      category: "{{ category }}"
    };
  </script>

  {% include "partials/footer.njk" %}
  <script src="/assets/js/main.js"></script>
  <!-- Prism.js for syntax highlighting -->
  <script src="/assets/js/prism.js"></script>
</body>

</html>
