@media (max-width: 767px) {
  .header {

    &__nav {

      &-wrapper {
        position: absolute;
        top: 36px;
        left: 12px;
        text-align: left;
      }

      &--page-link {
        margin: 0;
        display: block;
      }
    }

    &__menu {
      display: inline-block;
      right: 16px;
      bottom: 99px;
      position: relative;

      cursor: pointer;

    }

    &--menu-line {
      display: block;
      width: 31px;
      height: 4px;
      margin: 0 auto 6px;

      background-color: #fff;
      border-radius: 2px;
    }
  }
}