@media (max-width: 767px) {
  .article-list-item__header,
  .blog-list-item__header,
  .page-list-item__header,
  .category-list-item__header,
  .category__header {
    margin-bottom: 0;

    line-height: 28px;
    font-size: 22px;
  }

  .header {
    &__wrapper {
      height: 79px;
    }

    &__nav {

      &-wrapper {
        width: 100%;
        position: absolute;
        top: 56px;
        left: 0;
        padding: 5px 0 10px 10px;

        background-color: #b382d2;
        -webkit-box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.61);
        box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.61);
        text-align: left;

        &--isVisible {
          display: block;
        }

        &--isHidden {
          display: none;
        }
      }

      &--page-link,
      &--page-link:visited {
        margin: 0 14px 15px;
        display: block;

        &:hover {
          margin: 0 14px 15px;

          text-decoration: none;
        }
      }
    }

    &__menu {
      display: inline-block;
      padding: 10px 8px 6px 8px;
      right: 29px;
      bottom: 94px;
      position: relative;

      cursor: pointer;

      &--isVisible {
        background-color: #b382d2;
      }

    }

    &--menu-line {
      display: block;
      width: 31px;
      height: 4px;
      margin: 0 auto 6px;

      background-color: #fff;
      border-radius: 2px;
    }
  }

  a.header__nav--page-link,
  a.header__nav--page-link:visited,
  a.header__nav--page-link:hover {
    color: #fff;
  }

  .footer {
    padding: 0;
    &__inner-wrapper {
      &--isVisible {
        display: block;
      }
      &--isHidden {
        display: none;
      }
    }
    &__column {
      margin-bottom: 46px;
      &--2 {
        text-align: center;
      }
    }

    &__colophon {
      margin-top: 42px;
    }

    &__button {
      display: block;

      font-size: 22px;
      text-align: center;

      &--isHidden {
        display: none;
      }
    }

    &--profile-image {
      right: 0;
      float: right;
    }

    &--list-item {
      display: inline-block;
      &:not(:last-child) {
        margin-right: 10px;
      }
    }

    &--isVisible {
      display: block;
    }

    &--isHidden {
        display: none;
    }

    &--has-cursor {
      cursor: pointer;
    }

  }
}