@media (max-width: 767px) {
  .header {

    &__nav {

      &-wrapper {
        width: 100%;
        position: absolute;
        top: 36px;
        left: 0;
        padding: 5px 0 10px 10px;

        background-color: #b382d2;
        text-align: left;
      }

      &--page-link,
      &--page-link:visited {
        margin: 0;
        display: block;

        color: #fff;

        &:hover {
          margin: 0;
          text-decoration: none;
        }
      }
    }

    &__menu {
      display: inline-block;
      right: 16px;
      bottom: 99px;
      position: relative;

      cursor: pointer;

    }

    &--menu-line {
      display: block;
      width: 31px;
      height: 4px;
      margin: 0 auto 6px;

      background-color: #fff;
      border-radius: 2px;
    }
  }
}