---
layout: default
---
<div class="home">
  {{ content }}
  {% for post in site.posts limit:1 %}
  <div class="content__last-post post-link-hook content--cursor" itemscope itemtype="http://schema.org/Article" data-url="{{ post.url | relative_url }}">
    <span itemscope itemtype="https://schema.org/ImageObject">
      {% if post.thumb-image %}
      <img src="/img/{{post.thumb-image}}" class="content--post-image" alt="Image for {{post.title}}"/>
    {% endif %}
    </span>
    <h2 class="content--post-header-last" itemprop="name">
      The last post I wrote was <a class="post-link" href="{{ post.url | relative_url }}" itemprop="url">{{ post.title | escape }}</a>
    </h2>
    {{ post.excerpt | escape }}
  </div>
  {% endfor %}

  <ul class="post-list">
    {% for post in site.posts offset:1 limit:9%}
      <li class="post-link-hook" class="content--cursor" data-url="{{ post.url | relative_url }}">
        <h2>
          <a class="post-link" href="{{ post.url | relative_url }}">{{ post.title | escape }}</a>
        </h2>
        {{ post.excerpt | escape }}
      </li>
    {% endfor %}
  </ul>
  <h3><a href="/blog">See All Posts</a></h3>
</div>
