---
layout: default
---

<div class="home">
  {{ content }}
  <h1>The last post I wrote...</h1>
  {% for post in site.posts limit:1 %}
  <div>
    <h2>
      <a class="post-link" href="{{ post.url | relative_url }}">{{ post.title | escape }}</a>
    </h2>
    {{ post.excerpt | escape }}
  </div>
  {% endfor %}

  <ul class="post-list">
    {% for post in site.posts offset:1 limit:9%}
      <li>
        <h2>
          <a class="post-link" href="{{ post.url | relative_url }}">{{ post.title | escape }}</a>
        </h2>
        {{ post.excerpt | escape }}
      </li>
    {% endfor %}
  </ul>
</div>
