---
layout: default
type: BlogPosting
---
<article class="post" itemscope itemtype="http://schema.org/BlogPosting">
  <header class="post__header">
    <h1 class="post__title" itemprop="name headline">{{ page.title | escape }}</h1>
    <p class="post__meta">
      <time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
        {% assign date_format = site.minima.date_format | default: "%b %-d, %Y" %}
        {{ page.date | date: date_format }}
      </time>
      {% if page.author %}
        • <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span itemprop="name">{{ page.author }}</span></span>
      {% endif %}</p>
  </header>

  <div class="post__content" itemprop="articleBody">
    {% if page.og-image %}
    <div class="post__image-container">
      <img src="/img/{{ page.og-image }}" class="post--image-styles" />
    </div>
    {% endif %}

    <div class="post__google-ad">
      <style>
      /* Default ad size setting: used for desktops */
      .kaidezpostad {
        width: 300px; height: 250px;
      }

      /* for tablets */
      @media(max-width: 728px) {
        .kaidezpostad { width: 200px; height: 200px; }
      }

      /* for hand-helds */
      @media(max-width: 568px) {
        .kaidezpostad { width: 125px; height: 125px; }
      }
      </style>

      <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
      <!-- kaidezblogad -->
      <ins class="adsbygoogle kaidezblogad"
          style="display:inline-block;width:336px;height:280px"
          data-ad-client="ca-pub-7363372172009273"
          data-ad-slot="2761638798"></ins>

      <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
      </script>
    </div>
    {{ content }}
  </div>

  <a id="tweetButton" class="post__tweet-button" href="#">Would you like to Tweet this page?</a>

  {% include disqus.html %}

</article>

<script>

/* Click to Tweet link code
 * TODO: Refactor this with functional programming
 */
var linkElement = document.querySelector("#tweetButton");

linkElement.addEventListener("click", function(event) {

  event.preventDefault()
  event.stopPropagation()

  var getPostTitle = document.querySelector(".post__title").innerHTML;
  var tweetedLink;

  if(!window.location.origin) {
    tweetedLink = window.location.protocol + "//" + window.location.hostname + window.location.pathname;
  } else {
    tweetedLink = window.location.origin + window.location.pathname;
  }

  window.open("http://twitter.com/intent/tweet?url=" + tweetedLink + "&text=" + getPostTitle + "&via=kaidez&", "twitterwindow", "height=450, width=550, toolbar=0, location=0, menubar=0, directories=0, scrollbars=0")

})
</script>
