---
layout: default
type: BlogPosting
---
<article class="post" itemscope itemtype="http://schema.org/BlogPosting">
  <header class="post__header">
    <h1 class="post__title" itemprop="name headline">{{ page.title | escape }}</h1>
    <p class="post__meta">
      <time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
        {% assign date_format = site.minima.date_format | default: "%b %-d, %Y" %}
        {{ page.date | date: date_format }}
      </time>
      {% if page.author %}
        • <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span itemprop="name">{{ page.author }}</span></span>
      {% endif %}</p>
  </header>

  <div class="post__content" itemprop="articleBody">
    {% if page.og-image %}
    <div class="post__image-container">
      <img src="/img/{{ page.og-image }}" class="post--image-styles" />
    </div>
    {% endif %}

    {{ content }}
  </div>

  <a id="tweetButton" class="post__tweet-button" href="#">Would you like to Tweet this page?</a>

  {% include disqus.html %}

</article>
