---
layout: layouts/base.njk
title: Tutorials & Articles about Web Development - kaidez
permalink: "404.html"
---
<section class="container">
  <h1 class="header-content--hidden-text">404 error - page not found</h1>
  <article>
    <div class="error-404-content">
      <img src="/assets/img/404.jpg" alt="404 error - page not found" class="error-404-image"/>
      <div class="error-404-text">
        <p>
          <h2 class="error-404-header">Moved to Atlanta</h2> <i>(/muvd tu at-lan-tuh/)</i>
          <br />
          <strong>verb phrase</strong>
        </p>
        <p>
          <i>def. - </i> a slang term for when a page generates <strong>404 - page not found</strong> error...like this one has.  "404" refers to the area code for Atlanta, Georgia. (USA).
        </p>
      </div>
    </div>
  </article>
</section>