    <script type="application/ld+json">
      {
        "@context":"https://schema.org",
        "@type":"Blog",
        "name":"kaidez - Tutorials & Articles about Web Development",
        "url":"https://kaidez.com/",
        "description":"Web development tips and opinions/rants from an experienced developer.",
        "inLanguage":"en",
        "dateModified": "2025-01-23",
        "author":{
          "@type":"Person",
          "name":"Kai Gittens"
        },
        "publisher":{
          "@type":"Person",
          "name":"Kai Gittens"
        },
        "sameAs":[
          "https://twitter.com/kaidez",
          "https://www.facebook.com/kaidezblog",
          "https://www.linkedin.com/in/kaigittens/",
          "https://bsky.app/profile/kaidezg.bsky.social",
          "https://github.com/kaidez"
        ]
      }
    </script>